@page "{title?}/{text?}/{id?}"
@model NotesAplicationWeb.Pages.ContentModel
@{
    ViewData["Title"] = "Best Notes App!";
    ViewData["Css"] = "~/css/content.css";
}

<div id="sidebar">
    <ul>
        <li>Main Folder</li>
        <li><a href="#">+ New Folder</a></li>
    </ul>
</div>
<div id="content">
    @for(int i=0; i<Model.Notes.Count(); i++)
    {
        <div class="note">
        <a asp-page="/NoteEditor" asp-route-title="@Model.Notes[i].title" asp-route-text="@Model.Notes[i].text" asp-route-id="@i">
                <div class="noteTextPosition">
                    <h4 class="noteText">@Model.Notes[i].title</h4>
                    <p class="noteText">@Model.Notes[i].text</p>
                </div>
            </a>
        </div>
    }
    <div class="note">
        <div class="noteTextPosition">
            [OLD]Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium perferendis
            voluptate beatae.
        </div>
    </div>
    <div class="note">
        <div class="noteTextPosition">
            +
        </div>
    </div>
</div>