@page
@model NotesAplicationWeb.Pages.ContentModel
@{
    ViewData["Title"] = "Best Notes App!";
    ViewData["Css"] = "~/css/content.css";
}

<div id="sidebar">
    <ul>
        <li>AccountId: @Model.account.Id</li>
        <li>AccountId: @Model.account.Name</li>
        <li>Account Type: @Model.account.ToString().Substring(@Model.account.ToString().IndexOf('.') + 1)</li>
        @{
            if(Model.account is LogicLayer.User)
            {
                <li>MaxAmountOfNotes: @(((LogicLayer.User)Model.account).MaxAmountOfNotes)</li>
                <li>MaxLengthOfNotes: @(((LogicLayer.User)Model.account).MaxLengthOfNotes)</li>
            }
            if (Model.account is LogicLayer.PremiumUser)
            {
                <li>DaysOfPremiumLeft: @(((LogicLayer.PremiumUser)Model.account).DaysOfPremiumLeft)</li>
            }
        }
    </ul>
</div>
<div id="content">
    @for(int i=0; i<Model.Notes.Count(); i++)
    {
        <div class="note">
            <a asp-page-handler="delete" asp-route-noteid="@Model.Notes[i].Id" class="X">X</a>
            <a asp-page="/NoteEditor" asp-route-title="@Model.Notes[i].Title" asp-route-text="@Model.Notes[i].Text" asp-route-noteid="@Model.Notes[i].Id">
                <div class="noteTextPosition">
                    <h4 class="noteText">@Model.Notes[i].Title // NoteId @Model.Notes[i].Id</h4>
                    <p class="noteText">@Model.Notes[i].Text</p>
                </div>
            </a>
        </div>
    }
@*    <div class="note">
            <div class="noteTextPosition">
                [OLD]Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium perferendis
                voluptate beatae.
            </div>
    </div>*@
    <div class="note">
        <a asp-page="/NoteEditor" asp-route-title="" asp-route-text="">
            <div class="noteTextPosition">
                +
            </div>
        </a>
    </div>
</div>

<script>
    //var elements = document.getElementsByClassName("note");

    //for (var i = 0; i < elements.length; i++) {
    //    elements[i].addEventListener("mouseover", function () {
    //        console.log("co jest kurawin");
    //    });
    //    elements[i].addEventListener("mouseenter", function () {
    //        console.log("co jest kurawin");
    //    });
    //    elements[i].addEventListener("mouseout", function () {
    //        console.log("co jest kurawout");
    //    });
    //}

    //const div = document.createElement("div");
    //div.style.background = "#4cff00";
    //div.style.color = "white";
    //div.style.position = "absolute";
    //div.style.top = "0";
    //div.style.right = "0";
    //div.style.fontSize = "30px";
    //div.id = "X";
    //div.innerHTML = "X";

    document.querySelectorAll('.note').forEach(item => {
        item.addEventListener('mouseover', event => {
            //item.append(div);
            console.log("co jest kuraw over");
            item.querySelectorAll('.X')[0].style.display = "initial";
        });
        //item.addEventListener('mouseenter', event => {
        //    console.log("co jest kuraw enter");
        //});
        item.addEventListener('mouseout', event => {
            //document.querySelector('#X').remove();
            console.log("co jest kuraw out");
            item.querySelectorAll('.X')[0].style.display = "none";
        });
    })
</script>